.clickable.attachment.waves-effect(ng-click="ctrl.download(attachment)", title="{{ ::attachment.name }}")
  .icon
    img(fallback-src="assets/images/file-icons/default.png", src="assets/images/file-icons/default.png", ng-src="assets/images/file-icons/{{ ::attachment.type | extension }}.png", alt="{{ 'Attachment' | translate }}")
  .metadata
    .basic-info
      .name.ellipsis {{ ::attachment.name }}
      .size {{ ::attachment.size | bytes }}
  .actions
    a(href='', action-list="/unifiedinbox/views/attachment/attachment-action-list.html", title="{{ 'More' | translate }}")
      i.mdi.mdi-dots-vertical
