.modal.inbox-root.inbox-modal
  form(role="form", aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss="modal", aria-label="Close", ng-click="$hide()")
            span(aria-hidden="true") &times;
          h4.modal-title.ellipsis {{ 'Create a new folder' | translate }}
        .modal-body.overflow-none
          .row
            .col-xs-12
              .form-group.fg-line
                .field-name {{ 'Name' | translate }}
                input.form-control(ng-model="mailbox.name", placeholder="{{ 'Enter a name' | translate }}", auto-focus)
              .form-group.fg-line.select
                .field-name {{ 'Is located under' | translate }}
                select.form-control(ng-model="mailbox.parentId", ng-options="mailbox.id as mailbox.qualifiedName for mailbox in mailboxes")
                  option(value="") {{ 'Unified Inbox' | translate }}
        .modal-footer
          .flex-vertical-centered.flex-end
            button.btn.btn-link.color-default(type='button', ng-click="$hide()") {{ 'Cancel' | translate }}
            button.btn.btn-primary.save(type="submit", ng-click="addFolder($hide)") {{ 'Save' | translate }}
