button.btn-link.btn-icon.button(title="{{ 'Click to fix synchronization issue' | translate }}", esn-modal-launcher="/james/app/sync/status-indicator/modal.html", ng-if="$ctrl.syncError")
  i.mdi.mdi-sync-alert
