.modal
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal", aria-label="Close", ng-click="$hide()")
          span(aria-hidden="true") &times;
        h4.modal-title {{ 'Synchronization issue' | translate }}
      .modal-body
        p {{ ::$ctrl.errorMessage | esnI18n }} {{ 'Click Sync to fix.' | translate }}
      .modal-footer.flex
        .flex-vertical-centered.flex-end
          button.btn.btn-link(type="button", ng-click="$hide()")
            | {{ 'Cancel' | translate }}
          button.btn.btn-primary(ng-click="$ctrl.sync(); $hide()")
            | {{ 'Sync' | translate }}
