.card(ng-class='{"isCollapsed": email.isCollapsed}')

  .email-header(ng-click="ctrl.toggleIsCollapsed(email)", ng-class='{"clickable": email.isCollapsed != undefined}')

    .sender-avatar.hidden-xs
      inbox-emailer-avatar-popover(emailer="::email.from")
    .avatarify
      inbox-emailer-display(ng-if="::email", email="::email")
      .preview.ellipsis.line-header {{::email.preview}}

    .email-header-right
      ul.actions.responsive-actions
        li.action-item(ng-switch="::email.hasReplyAll")
          a(ng-switch-when="true", ng-click="ctrl.replyAll(); $event.stopPropagation()" title="{{ 'Reply all' | translate }}")
            i.mdi.mdi-reply-all
          a(ng-switch-when="false", ng-click="ctrl.reply(); $event.stopPropagation()" title="{{ 'Reply' | translate }}")
            i.mdi.mdi-reply
        li.action-item
          a(action-list="/unifiedinbox/views/email/view/action-list.html", title="{{ 'More' | translate }}")
            i.mdi.mdi-view-module
        li.action-item
          inbox-star(item='::email')

  .email-body
    .inbox-message-info(ng-if="::email")
      cal-inbox-invitation-message-blue-bar(
        ng-if="ctrl.shouldInjectCalendarInvitationMessageBlueBar()",
        message="email"
      )
      cal-inbox-resource-management-blue-bar(
        ng-if="ctrl.shouldInjectCalendarResourceManagementBlueBar()",
        message="email"
      )

    .text-center(ng-if="!email.loaded", openpaas-logo-spinner, spinner-start-active="1", spinner-size="0.4")

    inbox-message-body(message="::email")

  .lv-footer.attachments(ng-if="email.attachments.length > 0")
    inbox-attachment(ng-repeat="attachment in email.attachments", ng-if="::!attachment.isInline", attachment="::attachment")
