.card(ng-class='{"isCollapsed": email.isCollapsed}')

  .email-header(ng-click="ctrl.toggleIsCollapsed(email)", ng-class='{"clickable": email.isCollapsed != undefined}')

    .sender-avatar.hidden-xs
      inbox-emailer-avatar-popover(emailer="::email.from")
    .avatarify
      inbox-emailer-display(ng-if="::email", email="::email")
      .preview.ellipsis.line-header {{::email.preview}}

    .email-header-right
      ul.actions.responsive-actions
        li.action-item(ng-class="{'hidden-xs': email.hasReplyAll}")
          a(ng-class="", ng-click="ctrl.reply(); $event.stopPropagation()" title="{{ 'Reply' | translate }}")
            i.mdi.mdi-reply
        li.action-item(ng-if="::email.hasReplyAll")
          a(ng-click="ctrl.replyAll(); $event.stopPropagation()" title="{{ 'Reply all' | translate }}")
            i.mdi.mdi-reply-all
        li.action-item.hidden-xs
          a(ng-click="ctrl.forward(); $event.stopPropagation()" title="{{ 'Forward' | translate }}")
            i.mdi.mdi-forward
        li.action-item
          inbox-star(item='::email')
        li.action-item
          a(action-list="/unifiedinbox/views/email/view/action-list.html", title="{{ 'More' | translate }}")
            i.mdi.mdi-dots-vertical

  .email-body
    .inbox-message-info(ng-if="::email")
      cal-inbox-invitation-message-blue-bar(
        ng-if="ctrl.shouldInjectCalendarInvitationMessageBlueBar()",
        message="email"
      )
      cal-inbox-resource-management-blue-bar(
        ng-if="ctrl.shouldInjectCalendarResourceManagementBlueBar()",
        message="email"
      )

    div(ng-if="attachmentsNumber > 0")
      md-card
        md-card-header(ng-click="isExpand = !isExpand")
          md-card-header-text.flex.flex-start
            i.mdi.mdi-paperclip(title="{{ attachmentsNumber > 1 ? 'Attachments' : 'Attachment' | translate }}")
            span.md-subhead
              | {{ attachmentsNumber }} {{ attachmentsNumber > 1 ? 'Attachments' : 'Attachment' | translate }}
            span.subhead-size {{ attachmentsSize | bytes }}
          md-card-header-text.flex.flex-end
            md-button.md-icon-button(aria-label='icon')
              md-icon(md-svg-icon="{{ isExpand ? 'chevron-double-up' : 'chevron-double-down' }}")

        md-card-content.lv-footer.attachments(ng-class="{ expand: isExpand, 'more-6':attachmentsNumber > 6 }")
          inbox-attachment(ng-repeat="attachment in noInlineAttachments", attachment="::attachment")

    .text-center(ng-if="!email.loaded", openpaas-logo-spinner, spinner-start-active="1", spinner-size="0.4")

    inbox-message-body(message="::email")

