#tree-root(ui-tree, feature-flag="inbox.experiment.tree-folders")
  div(ui-tree-nodes, ng-model="ctrl.displayPersonnalFolders")
    div(ng-repeat="node in ctrl.displayPersonnalFolders track by node.id", ui-tree-node, ng-include="'/unifiedinbox/app/components/sidebar/mailbox-display-tree/mailbox-display-tree-node.html'")
