hr
.listview
  .lv-item.clickable.inbox-item-with-icon.folder-with-icon.waves-effect.waves-classic(ui-sref="unifiedinbox.configuration", ui-sref-active="{ 'selected': 'unifiedinbox.configuration'}", title="{{ 'Configuration' | translate }}")
    .badge-container
      i.inbox-icon.mdi.mdi-settings
    .title.ellipsis
      span {{ 'Configuration' | translate }}
