.lv-item.clickable.inbox-item-with-icon.waves-effect.waves-classic(esn-modal-launcher="/unifiedinbox/views/folders/add/index.html", controller-as="ctrl", controller="addFolderController", title="{{ 'New folder' | translate }}")
  .badge-container
    i.inbox-icon.mdi.mdi-plus
  .menu-item
    bdi
      | {{ 'New folder' | translate }}
