APP_GRID_ITEMS=[{ "name": "Calendar", "url": "http://localhost:9900/#/calendar" }, { "name": "Contacts", "url": "http://localhost:9900/#/contacts" }, { "name": "Inbox", "url": "http://localhost:9900/#/unifiedinbox/inbox" }, { "name": "Admin", "url": "http://localhost:9900/#/admin" }, { "name": "LinShare", "url": "http://localhost:30000" }]
