.right-sidebar-container
  .button
    button.btn.btn-link.btn-icon.pull-right(ng-click='$hide()', title="{{ 'Close' | translate }}")
      i.mdi.mdi-close
  esn-attachment-list(object-type="{{ ::ctrl.providerType }}", id="{{ ::ctrl.mailbox }}")
