p
  br

cite
  | ------- {{ 'Forwarded message' | translate }} -------
  br
  | {{ 'Subject' | translate }}: {{ email.quoted.subject }}
  br
  | {{ 'Date' | translate }}: {{ email.quoted.date | esnDatetime:"mediumDate time" }}
  br
  | {{ 'From' | translate }}: {{ email.quoted.from.email }}
  br
  | {{ email.quoted.to | emailerList:toPrefix }}
  br
  | {{ email.quoted.cc | emailerList:ccPrefix }}

blockquote {{ email.quoted.htmlBody || (email.quoted.textBody | escapeHtml | nl2br) }}
