.james-quota-user-dialog.modal.full-screen(ng-init='$ctrl.init()')
  form(name="form", ng-submit="$ctrl.updateUserQuota(); $hide()")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-label="Close", ng-click="$hide()")
            span(aria-hidden="true") &times;
          h4.modal-title {{ 'Set email quota for %s' | translate:$ctrl.userDisplayName }}

        .modal-body.overflow-none
          .text-center(
            ng-if="$ctrl.status === 'loading'",
            openpaas-logo-spinner,
            spinner-start-active='1',
            spinner-size='0.3')

          .computed-quota(ng-if="$ctrl.status === 'loaded'")
            h5.m-l-15 {{ 'Currently applied quota' | translate }}
            james-quota-displayer(quota="$ctrl.computedQuota")

          .quota-set(ng-if="$ctrl.status === 'loaded'")
            h5.m-l-15 {{ 'Set quota' | translate }}
            small.text-muted.m-l-15 {{ 'Define the quota limit for each user. Leave the fields empty for no quota.' | translate }}
            james-quota-form(quota="$ctrl.quota")
          .error-message(ng-if="$ctrl.status === 'error'") {{ 'An error occured while getting quota, please try again!' | translate }}
        .modal-footer(ng-if="$ctrl.status === 'loaded'")
          button.btn.btn-link(type="button", ng-click="$hide()")
            | {{ 'Cancel' | translate }}
          button.btn.btn-primary(type="submit", ng-disabled="form.$invalid || form.$pristine || form.$pending")
            | {{ 'Save' | translate }}

        .modal-footer(ng-if="$ctrl.status === 'error'")
          button.btn.btn-primary(type="button", ng-click="$hide()")
            | {{ 'OK' | translate }}
