.inbox-empty-container-message.inbox-error-message
  .message
    .inbox-empty-icon.mdi.mdi-alert-circle
    .message {{ 'Your account %s is currently unavailable. You can click to retry' | translate:account.name }}
    inbox-home-button
