include jmap-empty-message.pug

.message.inbox-dnd-info-message.all-centered.hidden-xs
  i.mdi.mdi-lightbulb-outline
  span {{ 'Did you know you can drag and drop messages to this folder? Give it a try!' | translate }}
