.james-domain-alias-item
  .row
    .col-xs-8.p-t-10
      span {{::$ctrl.alias}}
    .col-xs-4.text-right
      button.btn-link.btn-icon.button(ng-click="$ctrl.removeAlias()")
        i.mdi.mdi-delete.clickable
