#spash(style='height: 100%; padding: 0; margin: 0; display: flex; align-items:center; justify-content: center; flex-direction: column')
  div.loading-spa-icon(style='width: 80%; max-width: 150px')
    include ../linagora.esn.unifiedinbox/images/inbox-icon.svg
