doctype html
html.loading.full-height
  head
    meta(charset='utf8')
    base(href="/PREFIX_PLACEHOLDER/")
    title Inbox - OpenPaas
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="theme-color", content="#0C7CD5")
    style(type='text/css').
      html.loading, html.loading body, html.loading body > #wrap {
        padding: 0;
        margin: 0;
      }
      html.full-height, html.full-height body, html.full-height body > #wrap {
        height: 100%;
      }
      .loading-spa-icon {
        animation: bounce 2s;
        animation-iteration-count: infinite;
      }

      @keyframes bounce {
        0%,
        25%,
        50%,
        75%,
        100% {
          transform: translateY(0);
        }
        40% {
          transform: translateY(-20px);
        }
        60% {
          transform: translateY(-12px);
        }
      }
    script(src="/PREFIX_PLACEHOLDER/socket.io/socket.io.js")
    script(src="/PREFIX_PLACEHOLDER/env/openpaas.js")
    script
      include set-public-path.js

  body.container-fluid(ng-app="esnApp", ng-controller="sessionInitESNController", device-detector, ng-class="{ 'grabbable': esnIsDragging }")
    #wrap(ng-include='session.template')
      include ../src/app/app-loading.pug
