doctype html
html.loading.full-height
  head
    meta(charset='utf8')
    base(href=base)
    title Inbox - OpenPaas
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="theme-color", content="#0C7CD5")
    style(type='text/css').
      html.loading, html.loading body, html.loading body > #wrap {
        padding: 0;
        margin: 0;
      }
      html.full-height, html.full-height body, html.full-height body > #wrap {
        height: 100%;
      }
    script(src="/socket.io/socket.io.js")

  body.container-fluid(ng-app="esnApp", ng-controller="sessionInitESNController", device-detector, ng-class="{ 'grabbable': esnIsDragging }")
    #wrap(ng-include='session.template')

