.inbox-root.inbox-aside
  .lv-item.menu-root.menu-heading
    .media
      .media-body
        .title
          .text {{ 'Incoming mailbox' | translate }}

  inbox-sidebar-unifiedinbox-button
  div(dynamic-directive='inbox-sidebar-social-networks')
  hr
  inbox-sidebar-email
  inbox-sidebar-configuration-button
  inbox-sidebar-user-quota