doctype html
html
  head
    meta(charset='utf8')
    base(href='/')
    title OpenPaaS - New Message
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="theme-color", content="#0C7CD5")
    link(rel='icon', type='image/png', href='images/logo-tiny.png')
    link(rel='stylesheet', href='/components/bootstrap-additions/dist/bootstrap-additions.min.css')
    link(rel='stylesheet', href='/components/mdi/css/materialdesignicons.min.css', media='all')
    link(rel='stylesheet', href='/components/ng-tags-input/ng-tags-input.min.css')
    link(rel='stylesheet', href='/components/roboto-fontface/css/roboto-fontface.css')
    link(rel='stylesheet', href='/components/summernote/dist/summernote.css')
    link(rel='stylesheet', href='/generated/css/esn/styles.css')
    link(rel='stylesheet', href='/components/animate.css/animate.min.css')
    link(rel='stylesheet', href='/components/angular-material/modules/js/button/button.min.css')
    link(rel='stylesheet', href='/components/angular-material/modules/js/core/core.min.css')
    link(rel='stylesheet', href='/components/angular-material/modules/js/menu/menu.min.css')
    link(rel='stylesheet', href='/components/angular-material/modules/js/button/button.min.css')
    link(rel='stylesheet', href='/components/angular-material/modules/js/icon/icon.min.css')
    link(rel='stylesheet', href='/components/angular-material/modules/js/backdrop/backdrop.min.css')
    link(rel='stylesheet', href='/components/angular-material/modules/js/menuBar/menuBar.min.css')

    script(src='/components/jquery/dist/jquery.min.js')
    script(src='/components/jquery.focus/dist/jquery.focus.min.js')
    script(src='/components/lodash/dist/lodash.min.js')
    script(src='/components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/components/angular/angular.js')
    script(src='/components/angular-component/dist/angular-component.min.js')
    script(src='/components/restangular/dist/restangular.min.js')
    script(src='/components/ng-tags-input/ng-tags-input.min.js')
    script(src='/components/angular-strap/dist/angular-strap.min.js')
    script(src='/components/angular-strap/dist/angular-strap.tpl.min.js')
    script(src='/components/angular-file-upload/dist/angular-file-upload.min.js')
    script(src='/components/moment/min/moment.min.js')
    script(src='/components/moment-timezone/builds/moment-timezone-with-data.min.js')
    script(src='/components/angular-moment/angular-moment.min.js')
    script(src='/components/angular-uuid4/angular-uuid4.min.js')
    script(src='/components/remarkable-bootstrap-notify/bootstrap-notify.min.js')
    script(src='/components/jmap-draft-client/dist/jmap-draft-client.min.js')
    script(src='/components/dynamic-directive/dist/dynamic-directive.min.js')
    script(src='/components/summernote/dist/summernote.min.js')
    script(src=`/components/summernote/dist/lang/summernote-${fullLocale}.min.js`)
    script(src='/components/angular-summernote/dist/angular-summernote.min.js')
    script(src='/components/offline/offline.min.js')
    script(src='/components/angular-feature-flags/dist/featureFlags.js')
    script(src='/components/angular-messages/angular-messages.min.js')
    script(src='/components/email-addresses/lib/email-addresses.min.js')
    script(src='/components/angular-translate/angular-translate.min.js')
    script(src='/components/angular-material/modules/js/menu/menu.min.js')
    script(src='/components/angular-material/modules/js/button/button.min.js')
    script(src='/components/angular-material/modules/js/backdrop/backdrop.min.js')
    script(src='/components/angular-material/modules/js/icon/icon.min.js')
    script(src='/components/angular-animate/angular-animate.min.js')
    script(src='/components/angular-material/modules/js/core/core.min.js')
    script(src='/components/angular-material/modules/js/menuBar/menuBar.min.js')
    script(src='/components/angular-cookies/angular-cookies.min.js')

    script(src='/components/matchmedia/matchMedia.js')
    script(src='/components/matchmedia-ng/matchmedia-ng.js')
    script(src='/components/waves/dist/waves.min.js')

    script(src='js/constants.js')

    each asset in assets.type('jsApp').all()
      script(src='/' + asset.namespace + '/app/' + asset.name)
    each asset in assets.type('js').all()
      script(src='/' + asset.namespace + '/js/' + asset.name)

    script(src='/graceperiod/js/constants.js')
    script(src='/graceperiod/js/grace-period.service.js')
    script(src='/graceperiod/js/grace-period-restangular.service.js')

  body(ng-app="linagora.esn.unifiedinbox.mailto")
