.james-domain-alias-dialog.modal.full-screen(ng-init='$ctrl.getDomainAliases()')
  form(name="form")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-label="Close", ng-click="$hide()")
            span(aria-hidden="true") &times;
          h4.modal-title {{ 'Aliases of %s' | translate:$ctrl.domain.name }}

        .modal-body.overflow-none
          .text-center(
            ng-if="$ctrl.status === $ctrl.getDomainAliasesStatus.loading",
            openpaas-logo-spinner,
            spinner-start-active='1',
            spinner-size='0.5'
          )

          .domain-aliases(ng-if="$ctrl.status === 'loaded'")
            james-domain-alias-form(domain="$ctrl.domain", aliases="$ctrl.aliases")
            div(ng-if="$ctrl.aliases.length")
              h5.m-l-10 {{ 'Current aliases' | translate }}
              .domain-alias-list
                james-domain-alias-item(ng-repeat="alias in $ctrl.aliases" alias="alias", aliases="$ctrl.aliases" domain="$ctrl.domain")
            .message(ng-if="!$ctrl.aliases.length") {{ 'No alias' | translate }}
          .message(ng-if="$ctrl.status === $ctrl.getDomainAliasesStatus.error") {{ 'An error occurred while getting domain aliases, please try again!' | translate }}

        .modal-footer(ng-if="$ctrl.status === $ctrl.getDomainAliasesStatus.loaded")
          button.btn.btn-link(type="button", ng-click="$hide()")
            | {{ 'Close' | translate }}

        .modal-footer(ng-if="$ctrl.status === $ctrl.getDomainAliasesStatus.error")
          button.btn.btn-primary.btn-ok(type="button", ng-click="$hide()")
            | {{ 'OK' | translate }}
