.attachments-zone
  .attachments(ng-if="$ctrl.message.attachments.length > 0")
    .attachment(ng-click="$event.stopPropagation()", ng-repeat="attachment in $ctrl.message.attachments | orderBy:'-'", ng-if="::!attachment.isInline", ng-class="attachment.status", name="attachment-{{$index}}")
      .progress(ng-if="attachment.status === 'uploading'", ng-style="{ width: attachment.upload.progress + '%' }")
      .icon(ng-switch='attachment.status')
        img(ng-switch-when="error", src="assets/images/exclamation.svg", alt="{{ 'Error' | translate }}")
        img(ng-switch-when="uploading", src="assets/images/upload.svg", alt="{{ 'Uploading' | translate }}")
        img(ng-switch-default, fallback-src="assets/images/file-icons/default.png", src="assets/images/file-icons/default.png", ng-src="assets/images/file-icons/{{ ::attachment.type | extension }}.png", alt="{{ 'Attachment' | translate }}")
      .metadata
        .basic-info
          .name.ellipsis {{ ::attachment.name }}
          .secondary-metadata(ng-switch="attachment.status")
            .retry(ng-switch-when="error") {{ 'Upload failed' | translate }}.
              a(href="", ng-click="$ctrl.upload({ $attachment: attachment })") {{ 'Retry' | translate }}
            .loading(ng-switch-when="load-error") {{ 'Load failed' | translate }}
            .size(ng-switch-default) {{ ::attachment.size | bytes }}
        .provider-icon
          i(ng-class='$ctrl.getAttachmentProviderIcon(attachment)')
      .actions
        a.clickable
          i.mdi.mdi-close.cancel(ng-click="$event.stopPropagation(); $ctrl.removeAttachment({ $attachment: attachment })")
