extends /modules/subheader/responsive-subheader.pug

block left
  button.btn.btn-link.btn-icon(esn-back-button='home', title="{{ 'Back' | translate }}")
    i.mdi.mdi-arrow-left
  .title {{ 'Identities' | translate }}
