extends /modules/subheader/responsive-subheader.pug

block left
  inbox-subheader-close-button.hidden-md
  .title {{ 'Vacation settings' | translate }}

block right
  inbox-subheader-save-button(esn-submit="ctrl.updateVacation()")
