md-menu-item
  md-button(ng-disabled="ctrl.mailbox.unreadEmails === 0", ng-click="ctrl.markAllAsRead(ctrl.mailbox.id)")
    md-icon(md-menu-origin, md-svg-icon="email-open", aria-label="email open Icon")
    | {{ 'Mark all as read' | translate }}
md-menu-item(ng-if="::ctrl.isFoldersSharingEnabled && ctrl.isShareableMailbox(ctrl.mailbox)", esn-modal-launcher="/unifiedinbox/app/components/mailbox-shared-settings/mailbox-shared-settings.html", controller-as="ctrl", controller="InboxMailboxSharedSettingsController")
  md-button
    md-icon(md-menu-origin, md-svg-icon="account-multiple", aria-label="sharing settings Icon")
    | {{ 'Sharing settings' | translate }}
md-menu-item(ng-if="ctrl.isFolder || !ctrl.isShared && !ctrl.isSystem", esn-modal-launcher="/unifiedinbox/views/folders/edit/index.html", controller-as="ctrl", controller="editFolderController")
  md-button
    md-icon(md-menu-origin, md-svg-icon="settings", aria-label="settings Icon")
    | {{ 'Folder settings' | translate }}
md-menu-item(ng-if="ctrl.mailbox.role === 'trash'")
  md-button(ng-disabled="ctrl.mailbox.totalEmails === 0", ng-click="ctrl.emptyTrash(ctrl.mailbox.id)")
    md-icon(md-menu-origin, md-svg-icon="delete-empty", aria-label="empty Icon")
    | {{ 'Empty trash' | translate }}
div(dynamic-directive="unifiedinbox-sidebar-folder-setting")
md-menu-divider(ng-if="ctrl.isFolder || !ctrl.isShared && !ctrl.isSystem")
md-menu-item(ng-if="ctrl.isFolder || !ctrl.isShared && !ctrl.isSystem", esn-modal-launcher="/unifiedinbox/views/folders/delete/index.html", controller-as="ctrl", controller="inboxDeleteFolderController")
  md-button
    md-icon(md-menu-origin, md-svg-icon="delete", aria-label="delete Icon")
    | {{ 'Delete folder' | translate }}