inbox-identity-edit.modal.full-screen
  form.modal-dialog(name="form", esn-submit="$ctrl.onCreateBtnClick()", ng-init="$ctrl.init()")
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal", aria-label="Close", ng-click="$hide()")
          span(aria-hidden="true") &times;
        h4.modal-title {{ 'Create a new identity' | translate }}
      .modal-body.p-t-15
        form(name="form")
          inbox-identity-form(ng-if="$ctrl.userId", identity="$ctrl.identity", user-id="$ctrl.userId")
      .modal-footer.flex
        .flex-vertical-centered.flex-end
          button.btn.btn-link(type="button", ng-click="$hide()")
            | {{ 'Cancel' | translate }}
          button.btn.btn-primary(type="submit", ng-disabled="form.$invalid || form.$pristine" ng-click="$hide()")
            | {{ 'Create' | translate }}
