.listview(ng-switch="ctrl.state")

  .lv-body(ng-switch-when="LOADING")
    .text-center(openpaas-logo-spinner, spinner-start-active='1', spinner-size='0.4')

  .lv-body(ng-switch-when="LOADED")

    .listview
      .lv-item.clickable.inbox-item-with-icon.folder-with-icon.toggle-submenu.flex-end(title="{{ ::emailAddress }}", esn-toggle)
        .badge-container
          .caret-submenu
            i.mdi.mdi-menu-down
          i.inbox-icon.mdi.mdi-account-circle
        .title.ellipsis
          span {{ ::emailAddress }}
      ul.nopadding
        esn-filter-input(on-change="ctrl.filter = $filter")
        mailbox-display(is-special="true", mailbox="mailbox", ng-repeat="mailbox in specialMailboxes" )

        mailbox-display(is-system="true", mailbox="mailbox", ng-repeat="mailbox in mailboxes | filter: { role: { value: '' }, namespace: { type: 'Personal' }, name: ctrl.filter } track by mailbox.id")

        hr
        inbox-sidebar-new-folder-button

        div(ng-if="displayPersonnalFolders.length > 0")
          hr
          div {{ 'My folders' | translate }}
          div(ng-repeat="folder in displayPersonnalFolders track by folder.id")
            mailbox-display(ng-model="folder", feature-flag="inbox.experiment.tree-folders", feature-flag-hide, is-folder="true", hide-aside="$hide()", mailbox="folder")

          mailbox-display-tree(feature-flag="inbox.experiment.tree-folders", mailboxes="displayPersonnalFolders", hide-aside="$hide()", filter="ctrl.filter")

        div(ng-if="displayFoldersSharedWithMe")
          hr
          div {{ 'Shared folders' | translate }}
          mailbox-display(is-shared="true", hide-aside="$hide()", mailbox="mailbox", ng-repeat="mailbox in mailboxes | inboxFilterVisibleSharedMailboxes | filter: { name: ctrl.filter } track by mailbox.id")

  .lv-body(ng-switch-when="ERROR")
    inbox-sidebar-account-unavailable.lv-item(account="::ctrl.account", ng-click="ctrl.load()")
