.listview
  .lv-item.clickable.inbox-item-with-icon.folder-with-icon.waves-effect.waves-classic(title="{{ 'Unified Inbox' | translate }}", ui-sref-active="selected", ui-sref="unifiedinbox.inbox({ type: '', account: '', context: '' })")
    .badge-container
      .badge
      i.inbox-icon.mdi.mdi-folder-multiple
    .title.ellipsis
      span {{ 'Unified Inbox' | translate }}